In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statistics as st
import os

In [2]:
#Load data into df from csv

city_data_df=pd.read_csv("Resources\city_data.csv")

city_data_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [6]:
path_ride=os.path.join("Resources","ride_data.csv")
#ride_data_df=pd.read_csv("Resources\ride_data.csv")
ride_data_df=pd.read_csv(path_ride)
ride_data_df.head()